.sidebar{
  position:fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-div{
height: 74px;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
cursor: pointer;
}

.sidebar-div:hover{
  background-color: lightgrey;
  
}

.sidebar-div img {
  height: 24px;
  margin-bottom: 4px;

}

.sidebar-div div{
  font-family: roboto,Arial;
  font-size: 10px;

}
